<%#ヘッダー%>
<div class= 'top_header'>
 <div class='sub_header'>
  <div class='search-bar-contents'>
    <h1 class = 'apuri_mei'>HOT  TATOO</h1>
  </div>
 </div>
</div>


<%#ログイン画面メイン%>
<div class="contents row">
  <div class="container">
    <%= form_with model: @company, url: company_session_path, class: 'new_company', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true,autocomplete: "current-password"  %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password"  %>
      </div>

     <% if devise_mapping.rememberable? %>
      <div class="field_top">
        <div class="field">
         <%= f.check_box :remember_me %>
        </div>
        <div class="field">
         <%= f.label :remember_me %>
        </div>
       
      </div>
     <% end %>

    
      <div class="actions">
        <%= f.submit "ログインする" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>